<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear nuevo producto</title>

    <!-- NUESTROS ESTILOS -->

    <link rel="stylesheet" href="/css/product-create.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/img/logo-general.png">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">

    
    <!-- BOOTSTRAP Y SLIDER -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
<%- include ("../partials/navbar") %>

<div class="caja-grande" >
  <div class="product-admin-button">
    <a href="/product/product-admin">Volver</a>
  </div>
    <div class="box-form">
      <div class="title-form">FORMULARIO DE CREACIÓN</div>
        <form action="/product/product-create" method="post" class="formulario" enctype="multipart/form-data" style="width: 100%;">

          <label for="title" class="label-form">NOMBRE DEL PRODUCTO</label>
          <input type="text" name="title" required class="input-form">

          <label for="" class="label-form">CATEGORÍA</label>
          <div>
            <label for="cat-calzado" class="form-radio"><input type="radio" name="category" value="Calzado" id="cat-calzado" required> Calzado</label>
            <label for="cat-indumentaria" class="form-radio"><input type="radio" name="category" value="Indumentaria" id="cat-indumentaria" required > Indumentaria</label>
          </div>

          <label for="sizes" class="label-form">TALLES</label>

          <div class="form-check">
            <label for="talle-35"><input type="checkbox" name="sizes" value="35" id="talle-35"> 35 </label>
            <label for="talle-36"><input type="checkbox" name="sizes" value="36" id="talle-36"> 36 </label>
            <label for="talle-37"><input type="checkbox" name="sizes" value="37" id="talle-37"> 37 </label>
            <label for="talle-38"><input type="checkbox" name="sizes" value="38" id="talle-38"> 38 </label>
            <label for="talle-39"><input type="checkbox" name="sizes" value="39" id="talle-39"> 39 </label>
            <label for="talle-40"><input type="checkbox" name="sizes" value="40" id="talle-40"> 40 </label>
            <label for="talle-41"><input type="checkbox" name="sizes" value="41" id="talle-41"> 41 </label>
            <label for="talle-42"><input type="checkbox" name="sizes" value="42" id="talle-42"> 42 </label>
            <label for="talle-43"><input type="checkbox" name="sizes" value="43" id="talle-43"> 43 </label>
            <label for="talle-44"><input type="checkbox" name="sizes" value="44" id="talle-44"> 44 </label>
            <label for="talle-45"><input type="checkbox" name="sizes" value="45" id="talle-45"> 45 </label>
            <label for="talle-46"><input type="checkbox" name="sizes" value="46" id="talle-46"> 46 </label>
          </div>  

        <div class="form-check">
          <label for="talle-s"><input type="checkbox" name="sizes" value="S" id="talle-s"> s </label>
          <label for="talle-m"><input type="checkbox" name="sizes" value="M" id="talle-m"> m </label>
          <label for="talle-l"><input type="checkbox" name="sizes" value="L" id="talle-l"> l </label>
          <label for="talle-xl"><input type="checkbox" name="sizes" value="XL" id="talle-xl"> xl </label>
          <label for="talle-xxl"><input type="checkbox" name="sizes" value="XXL" id="talle-xxl"> xxl </label>
        </div>

        <label for="image" class="label-form">IMAGEN PRINCIPAL</label>
        <div class="label-inpu">
          <p>Subir imagen</p>
          <input type="file" name="image">
        </div>
        <label for="imageDetail" class="label-form">IMÁGENES DE DETALLE</label>
        <div class="label-inpu">
          <p>Subir imagen/es</p>
          <input type="file" name="imageDetail" multiple>
        </div>

        <label for="price" class="label-form">PRECIO</label>
        <input type="text" name="price" required class="input-form">

        <label for="description" class="label-form">DESCRIPCIÓN</label>
        <textarea name="description" id="descripcion" cols="30" rows="10" placeholder="Escriba una descripción de producto..." required class="input-form" style="height:90px;"></textarea>

        <label for="cuidados" class="label-form">CUIDADOS</label>
        <textarea name="cuidados" id="cuidados" cols="30" rows="10" placeholder="Escriba los cuidados del producto..." required class="input-form" style="height:90px;"></textarea>

        <div class="div-button">
          <button type="submit" class="button-form">SUBIR PRODUCTO</button>
          <button type="submit" class="button-form">ELIMINAR PRODUCTO</button> 
        </div>
        </form>
    </div>
</div>
      

    <%- include ("../partials/footer") %>
</body>

</html>