p{
    font-family: 'Roboto';
}

.display-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.recuadro-session{
    width: 450px;
    margin: 20px;
}

.titulo-session {
    text-align: center;
    margin: 10px;
    padding-bottom: 7px;
    font-weight: bolder;
    border-bottom: solid 2px orangered;
    font-size:larger;
}

.caja-usuario{
    width: 100%;
    margin-bottom: 20px;
}

.caja-usuario label{
    width: 100%;
    text-align: center;
    padding: 3px;
    font-family: 'Roboto';
    font-weight: 450;
}

.caja-usuario input{
    width: 100%;
    height: 35px;
    padding-left: 5px;
    border: none;
    background-color:gainsboro;
}

.caja-error{
    width: 100%;
    color: orangered;
    font-size: small;
    font-family: "Roboto";
}

.caja-checkbox{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 15px
}

.caja-checkbox label{
    margin-left: 7px;
}

.button-form {
    background-color:orangered;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 5px;
    width: 100%;
    transition: 1s;
    margin-top: 15px
}

.texto-session{
    width: 100%;
    margin-top: 20px;
}

.benef-login{
    text-align: center;
    font-weight: bold;
}

.texto-session h5{
    text-align: center;
    font-weight: bold;
}

.texto-session p{
    text-align: center;
}

.button-form:hover {
    background-color: gainsboro;
    background-color: #ff9b6d;
}

.registro-session{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 15px;
}

/*BREACKPOINTS*/

@media (max-width: 768px) {
    .recuadro-session{
        width: 100vw;
        padding: 30px;
    }
}








/*
.font-all {
    font-family: var(--roboto);
}
*/

/* ----------- FORM LOGIN ---------- */


/*section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: auto;
    margin: 28px;
}

.container-form {
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 32px;
}

:root {
    --roboto: 'Roboto', sans-serif;
    --dexter: #FD611A;
}

.texto {
    width: 300px;
    margin-top: 15px;
}
.texto h2 {
    text-transform: uppercase;
    font-size: 32px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
}
.texto p {
    color: #000;
    margin: 0;
}
.login {
    margin-top: 50px;
}
.login, label{
    display: grid;
    place-items: center;
    text-align: center;
    gap: 16px;
    font-size: 18px;
    text-transform: uppercase;
}
.login input {
    width: 250px;
    height: 40px;
    outline: none;
    border-radius: 3px;
    border: 1px solid #ccc;
}
.login input:focus {
    border: 1px solid var(--dexter);
    border-width: 2px;
}
.caja-checkbox {
    display: flex;
    justify-content: flex-start;
    width: 250px;
}
.caja-checkbox input {
    width: 15px;
    margin: 10px;
}
.caja-checkbox label {
    font-size: 15px;
}
.caja-sesion {
    display: flex;
    justify-content: center;
}
.caja-sesion button {
    width: 450px;
    height: 50px;
    font-size: 20px;
    text-transform: uppercase;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    margin-top: 30px;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}
.caja-sesion button svg {
    margin: 0 auto;
}
.caja-sesion button:hover {
    background-color: var(--dexter);
    border: none;
}

.logo-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-form img {
    width: 120px;
    height: 50px;
}*/

/* ---------- MOBILE LOGIN ----------- */

/*@media screen and (max-width: 550px) {

    #register-form.registro {
        border: 0;
    }

    .logo {
        display: none;
    }

    .container-form {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 0;
        margin: 0;
        padding: 0;
        height: fit-content;
        width: fit-content;
    }

    .logo-form {
        display: none;
    }

    .texto {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        width: 60%;
    }

    .texto h2{
        font-size: 18px;

    }

    .texto p {
        font-size: 12px;

    }

    .caja-sesion {
        display: block;
        margin: 0 auto;
        width: 50px;
    }

    .caja-sesion p{
        display: none;
    }

    .caja-sesion button {
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .login label{
        padding: 0;
        margin: 0;
        font-size: 12px;
    }

    .login input {
        width: 100%;
        height: 18px;
        font-size: 11px;
    }

    .caja-checkbox {
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }

    .caja-checkbox input {
        width: 14px;
    }

    .header-login {
        display: none;
    }

    .login-container {
        border: 0;
    }

    #register-form.registro {
        width: auto;
    }
}*/