<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/error404.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body class="display-center">
    
    <div class="img-404">
        <img src="/img/404.png" alt="">
    </div>    
    <div class="error">
            La página que intentas buscar, no se encuentra en el servidor.
    </div>
    <a href="/" class="button-error">
        volver al HOME
    </a>
    
</body>
</html>