<footer>
  <div class="row">
    <div class="part-footer logo-footer col-4 col-md-3">
      <img src="/img/logo_footer.png" alt="" class="marca-footer" />
    </div>
    <div class="part-footer col-4 col-md-3">
      <div class="options-footer">
        <div class="title-footer">Sobre nosotros</div>
        <a href="" target="_blank" class="item-footer">¿Quiénes somos?</a>
        <a href="" target="_blank" class="item-footer">Devoluciones</a>
        <a href="" target="_blank" class="item-footer">Preguntas frecuentes</a>
        <a href="" target="_blank" class="item-footer">Contacto</a>
      </div>
    </div>
    <div class="part-footer col-4 col-md-3">
      <div class="options-footer">
        <div class="title-footer">Mapa del sitio</div>
        <a href="" target="_blank" class="item-footer">Login</a>
        <a href="" target="_blank" class="item-footer">Categorías</a>
        <a href="" target="_blank" class="item-footer">Ofertas</a>
        <a href="" target="_blank" class="item-footer">Podría interesarte</a>
        <a href="" target="_blank" class="item-footer">Novedades</a>
        <a href="" target="_blank" class="item-footer">Novedades</a>
      </div>
    </div>
    <div class="part-footer col-12 col-md-3">
      <div class="part-qr-footer">
        <img src="/img/qr_footer.png" alt="" class="qr-footer" />
        <div class="part-icon">
          <i class="icon-footer fab fa-facebook"></i>
          <i class="icon-footer fab fa-instagram"></i>
          <i class="icon-footer fab fa-whatsapp"></i>
          <i class="icon-footer fab fa-twitter"></i>
        </div>
      </div>
    </div>
  </div>

  
  <script src="https://kit.fontawesome.com/4e61ee30bd.js" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">

</footer>
